@import '../../vendor/filament/filament/resources/css/theme.css';

.def-fo-searchable-input-wrapper{
    @apply relative;
}

.def-fo-searchable-input-dropdown{
    @apply z-10 absolute top-full mt-2 left-0 px-1 py-1 overflow-hidden;
    @apply rounded-lg bg-white dark:bg-gray-900;
    @apply shadow-lg  ring-1 ring-gray-950/5 dark:ring-white/10;
    @apply will-change-[visibility];
    @apply text-sm font-medium text-gray-950 dark:text-white;
}

.def-fo-searchable-input-dropdown-wrapper{
    @apply max-h-60 overflow-y-auto;
}

.def-fo-searchable-input-dropdown .def-fo-searchable-input-dropdown-list{
    @apply h-full;
}

.def-fo-searchable-input-dropdown .def-fo-searchable-input-dropdown-list-item {
    @apply px-2 py-2 rounded-md hover:bg-gray-50 active:bg-gray-200 cursor-pointer;
}

.def-fo-searchable-input-dropdown .def-fo-searchable-input-dropdown-list-item-selected {
    @apply bg-gray-50 dark:bg-white/5 hover:bg-gray-100 dark:hover:bg-white/10;
}
